{% extends 'base.html' %}

{% block content %}
	<h1>Marker</h1>
	<hr>
	<div class="clearfix">
		<img src="../static/images/homework-g304d45681_1920.png" class="img-fluid col-md-3 float-md-start mb-3 ms-md-3" style="padding-right: 20px; width:30%; height:30%" alt="exam">
    	<!--<div class="col-lg-8">-->
    	<div>
		<p class="fs-5 text-wrap" style="text-align: justify;
	  		text-justify: inter-word;">Bu uygulama Ege Üniversitesi İİBF optik okuyucusunun sağladığı excel dosyasını OBYS şablonuna göre düzenlemek için geliştirilmiştir.</p>
	  	<p class="fs-5 text-wrap" style="text-align: justify;
	  		text-justify: inter-word;">Uygulama sınava girmeyen öğrencilerin notunu -1 olarak işler, derse kayıtlı olmayan öğrencileri (erasmus vb.) listeler, numarasını yanlış yazmış öğrencilerin numaralarını düzeltir. Ancak öğrenci hem ismini hem numarasını yanlış yazmışsa <strong>düzeltme yapılamamaktadır</strong>. </p>
	  	<p class="fs-5 text-wrap" style="text-align: justify;
	  		text-justify: inter-word;">Eğer bonus puan uygulaması yaptıysanız, yani öğrenciler toplamda 100'den falza puan alabiliyorlarsa, bu öğrencilerin notu 100 olarak girilmektedir.</p><!-- Yüklediğiniz dosyaların <strong>değiştirilmemiş</strong> olması önemlidir. Editlenmiş yahut değiştirilmiş dosyalar <strong>işlenememektedir</strong>. Bu nedenle not listesini optik okuyucunun ürettiği şekilde, şablonları ise OBYS'den indirdiğiniz haliyle yükleyiniz. Son ekranda örgün ve ikinci öğretim için düzenlenmiş OBYS dosyalarını indirebilir, numarasını yanlış kodlamış ve şablonlarda bulunamayan (erasmus vb.) öğrencilerin listesini görüntüleyebilirsiniz. <strong>Lütfen indirdiğiniz dosyaları kontrol etmeyi unutmayınız!</strong></p>-->
	  	<p class="fs-5 text-wrap" style="text-align: justify;
	  		text-justify: inter-word;">Yüklediğiniz dosyaların <strong>değiştirilmemiş</strong> olması önemlidir. Editlenmiş yahut değiştirilmiş dosyalar <strong>işlenememektedir</strong>. Bu nedenle not listesini optik okuyucunun ürettiği şekilde, şablonları ise OBYS'den indirdiğiniz haliyle yükleyiniz.</p>
	  	<p class="fs-5 text-wrap" style="text-align: justify;
	  		text-justify: inter-word;">Son ekranda örgün ve ikinci öğretim için düzenlenmiş OBYS dosyalarını indirebilir, numarasını yanlış kodlamış ve şablonlarda bulunamayan (erasmus vb.) öğrencilerin listesini görüntüleyebilirsiniz. <strong>Lütfen indirdiğiniz dosyaları kontrol etmeyi unutmayınız!!</strong></p>
		</div>

		<center><a href="{{ url_for('upload') }}"><button type="button" class="btn btn-primary btn-lg">Dosya Yükleme</button></a></center>
		<br>


	</div>

{% endblock %}

